body{
    margin: 0;
}
.all-spark{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    background-color: chocolate;
}
#board-container{
    padding:2%;
    padding-bottom: 3%;
    border: 3px solid black;
    width: 50%;
    height: 60%;
    box-sizing: border-box;
   
}

.cards{
    border:1px solid black;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 0.5%;
}

.cards ::selection{
    background: rgba(1,1,1,0);
}

.flipped{
    border:1px solid red;
    /*design when card is picked */
}
.my-modal{
    display:block;;
    background: rgba(0,0,0,0.7);
    position:fixed;
    width:60%;
    height: 70%;
}
#victory{
    display:none;
}
#modal-menu{
    display:block;
}
.cards img{
    width:100%;
    height: 100%;
}