body{
    margin: 0;
}
.center-col{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.all-spark{
    height: 100%;
    background: linear-gradient(gray,black);
}

.top-menu{
    position: fixed;
    height: 9.4%;
    width:100%;
    flex-direction: row;
    top:0;
    left:0;
}
#board-container{
    padding:2%;
    padding-bottom: 3%;
    border: 3px solid black;
    width: 50%;
    height: 60%;
    box-shadow: 10px 15px 23px black;
    box-sizing: border-box;
}

.cards{
    border:1px solid black;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 0.5%;
    background-position: center;
    box-shadow: 10px 15px 23px black;

}

.cards ::selection{
    background: rgba(1,1,1,0);
}

.flipped{
    border: 2px solid white;
    box-sizing: border-box;
}

#victory{
    display:none;
    color:white;
    font-weight: bolder;
    font-size: 25px;

}
#victory h1{
    margin:0;
}
#victory h2{
    margin:0;
}
#victory p{
    margin:0;
}


#menu-modal{
    display:block;
    flex-direction: row;
    background: rgba(0,0,0,0.7);
    position:fixed;
    width:60%;
    height: 70%;
    box-shadow: 10px 15px 23px black;
}
.cards img{
    width:100%;
    height: 100%;
}
 
 .button-style{
    background: rgba(94, 79, 79, 0.3);
    width: 9%; 
    border: 2px solid #111;
    border-radius: 4px;
 }
 .my-level{
    padding:1%;
    width:17%;
    margin-bottom: 2%;
    box-sizing: border-box;
    border: 2px solid white;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 4px;
 }

 .my-level:hover{
    background:white;
    color:black;


 }
 .center-col h1{
     text-decoration: underline;
     color:white;
     font-weight: bolder;
 }

 .exit-img{
     width:5%;
     height: 9%;
     opacity: 0.7;
     margin-top:10px;
     margin-left: 10px;
 }

 .clickable{
     cursor: pointer;
 }